<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input formControlName="firstName" [class.error]="firstname.touched && firstname.invalid" placeholder="First Name" />
        <em *ngIf="firstname.touched && firstname.errors?.['required']"> Please enter first Name</em>
        <em *ngIf="firstname.touched && firstname.errors?.['minlength']"> Please enter atleast 3 charasacters</em>
        <input formControlName="lastName" placeholder="Last Name" />
        <input formControlName="dateOfBirth" type="date" placeholder="Date of Birth" [value]="contactForm.controls.dateOfBirth.value | date:'yyyy-MM-dd'"/>
        <!-- "yyyy-MM-dd" format for date -->
        <!-- <input formControlName="favoritesRanking" type="number" placeholder="Favorites Ranking" /> -->
        <span>
          <input type="checkbox" formControlName="personal" value="foo">Peronsal
        </span>
        <span>
        Favourites ratings <input formControlName="favoritesRanking" type="range" min="1" max="5"> {{contactForm.controls.favoritesRanking.value}}
      </span>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column" formGroupName="phone">
        <div class="flex-group">
          <input placeholder="Phone" formControlName="phoneNumber" />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <input type="radio" value="mobile" formControlName="phoneType"> Mobile
          <input type="radio" value="work" formControlName="phoneType"> Work
          <input type="radio" value="other" formControlName="phoneType"> Other
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div formGroupName="address">
        <div class="address">
          <div class="flex-group">
            <input placeholder="Address" formControlName="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" formControlName="city" />
          <input placeholder="State/Region" formControlName="state" />
          <input placeholder="Zip/Postal Code" formControlName="postalCode" />
          <select formControlName="addressType">
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="mobile">Other</option>
          </select>
        </div>
        <em *ngIf="address.dirty && address.invalid"> Incomplete Address</em>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <textarea rows="5" [class.error]="notes.errors?.['restrictWords']" formControlName="notes"></textarea>
      <div>
      <em *ngIf="notes.errors?.['restrictWords']"> Restricted Words found: {{notes.errors?.['restrictWords']}}</em>
    </div>
      <!-- <em *ngIf="notes.errors?.['restrictWords']">Restricted Words found: {{notes.errors?.['restrictWords']}}</em>   -->
    </section>
    
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button class="primary" type="submit">Save</button>
    </div>
  </form>
</div>